body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin: 50px 15px;
}

main .links {
    margin-bottom: 20px;
}

main .links a {
    margin: 0;
}

.classes {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
}

.class {
    width: 300px;
    height: 350px;
    border: solid #dadce0 1px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.class .top {
    background-color: darkblue;
    color: white;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.class .top .title {
    padding: 10px;
    color: white;
    font-size: x-large;
    font-weight: bolder;
    text-decoration: none;
}

.class .top img.menu {
    height: 20px;
    margin: 15px;
}

.class .bottom {
    height: 40px;
    border-top: solid #dadce0 1px;
    padding: 15px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}


.bottom a {
    margin: 0px;
}

.bottom a img {
    height: 40px;
}

/* dark mode */
body.night .class{
    background-color: #000f3e;
    border-color: #000f3e;
}

body.night .bottom {
    border-color: #00000000;
    background-color: #00000045;
}

body.night .class img {
    filter: contrast(0) brightness(10);
}