body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    border-bottom: solid #dadce0 1px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav div {
    height: 100%;
    display: flex;
    align-items: center;
}

nav h1 {
    font-weight: lighter;
}

nav div img {
    height: 30px;
    margin: 15px;
}

nav div img.icon {
    height: 100%;
    margin: 0px;
}

nav div img.account {
    height: 50px;
    margin: 5px;
}

nav a {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: gray;
}

nav .center a {
    padding: 0px 20px;
}

nav a.selected {
    color: #1967d2 !important;
    border: solid #00000000 5px;
    border-bottom: solid #1967d2 5px;
}

nav a:hover {
    background-color: #8080801c;
}

/* dark mode */
body.night {
    background-color: #141222;
}

body.night nav {
    background-color: #000a2d;
    border-bottom: solid #081438 1px;
    color: white;
}

body.night nav img {
    filter: contrast(0) brightness(10);
}

body.night nav a {
    color: white;
}