body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	--outline: rgba(255, 255, 255, 0.6);
}

main {
	perspective: 1px;
	height: 100vh;
	overflow-x: hidden;
}

hr {
	border: none;
	border-bottom: 1px solid var(--outline);
}

.parallax {
	background: linear-gradient(0deg, orange 0%, transparent 15%);

	transform-style: preserve-3d;
	perspective: 1px;
	padding-top: 25vh;
	padding-bottom: 75px;
	height: 45vh;
	display: grid;
	justify-items: center;
	align-items: center;
    justify-content: center;

	position: relative;
	z-index: 1;
}

.parallax>* {
	grid-row: 1;
	grid-column: 1;
	position: relative;
}

.parallax :nth-child(1) {
	transform-origin: top;
	z-index: 1;
}

.parallax :nth-child(2) {
	transform-origin: bottom;
	transform: translate3d(0%, 50%, -1px) scale(2.5);
}

section {
	position: relative;
	z-index: 0;

	transform-style: preserve-3d;
	padding: 225px 0;
	background-color: orange;
	color: white;
}

section>* {
	transform-style: preserve-3d;
	max-width: 600px;
	width: 90%;
	margin: auto;
}

section>h1 {
	text-align: center;
	font-size: 4rem;

	position: relative;
	z-index: 3;
}

article {
	margin: 0 auto;
	margin-top: 4rem;

	border: 1px solid var(--outline);
	border-radius: 0.5rem;

	padding: 2rem min(3rem, 5vw);
	width: calc(85% - min(6rem, 10vw));

}

article .icon {
	height: 5rem;
	width: 5rem;

	margin-top: -4rem;
	margin-left: -4rem;
	position: relative;
	display: grid;

	transform-style: preserve-3d;
}

article .icon img {
	grid-column: 1;
	grid-row: 1;

	width: 5rem;
	height: 5rem;

	position: relative;
	z-index: 1;
	transition: transform .5s;
}

article .icon img:hover {
	transform: translateZ(0.01px) scale(1.2);
	filter: drop-shadow(0px 0px 10px #ffffff9c);
}

article .icon::before {
	content: '';
	display: block;
	position: relative;

	grid-column: 1;
	grid-row: 1;

	width: 5rem;
	height: 5rem;
	background: url('./images/icons/star.png');
	background-size: contain;

	animation: star 6s linear infinite;
}

@keyframes star {
	0% {
		transform: rotate(0deg) scale(1.5);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg) scale(1.5);
	}
}

main::-webkit-scrollbar {
	width: 10px;
}

/* Track */
main::-webkit-scrollbar-track {
	background: orange;
	/* background-color: transparent; */
}

/* Handle */
main::-webkit-scrollbar-thumb {
	background: var(--outline);
}