.etiqueta {
    background-color: red;
    width: 500px;
    height: 500px;
    color: white;
    font-size: 5em;
}

/*.etiqueta:hover + .body{
    color: black;
    background-color: green;
    height: 250px;
}*/

.etiqueta:hover {
    background-color: green;
    transition: 1s;
}