html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    height: 100%;
    background: linear-gradient(#D9D9D9, #becde6);
}

a.button {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    color: black;
}

a.button.filled {
    border-radius: 10px;
    background-color: blue;
    color:white;
}

main {
    text-align: center;
}