header {
    padding-top: 10px;
    width: calc(100% - 300px);
    margin: auto;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    display: inline-block;
    text-decoration: none;
    padding: 15px;
    color: #252525;
    height: 20px;
}
nav a:hover {
    color: #708090;
}

@media screen and (max-width: 650px) {
    header {
        justify-content: center;
    }

    nav {
        display: none;
    }
}